body
  font-family: $helvetica
  font-size: golden-ratio(8pt, 1)

.navSection
  font-size: golden-ratio(4pt, 2)

  h1
    font-size: golden-ratio(4pt, 3)

.navSubSection
  font-size: golden-ratio(4pt, 2)

  h1
    font-size: golden-ratio(4pt, 2)

.copyright
  font-size: 0.75em
  line-height: 1.25em
  margin-bottom: golden-ratio(1em, 1)

  p
    padding: 0
    margin: 0

.banner
  h1 
    font-size: golden-ratio(1em, 3)
    margin: 0
    padding: 0
  
.content
  p
    strong
      color: $background-color
      text-shadow: 0 0 25px $main-text-color
      font-size: golden-ratio(1em, 1)
